* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 120%;
  line-height: 130%;
  margin: 0;
  padding: 0;
  color: #f9f9f9;
  min-width: 330px;
  text-align: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#__next {
  background: #333333 url(/images/winter_mountain.svg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-origin: border-box;
  width: 100%;
  height: 100%;
}

Form {
  color: #000;
  background-color: #f9f9f9;
  border-radius: 0 0 1rem 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  margin-top: 0;
}

#location-logo {
  cursor: default;
  width: 20px;
}

Form input[type="text"] {
  background-color: transparent;
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1em;
}

Form p {
  margin: 0.5rem auto 0.5rem 1rem;
}

.flexcontainer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column nowrap;
}

.main_card,
.week_card {
  width: auto;
  background-color: #666666cc;
  border-radius: 1rem;
  margin: 1rem auto;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 130%;
}

.main_card__header,
.week_card__header {
  margin-bottom: 2rem;
}

.main_card__header h1,
.week_card__header h1 {
  margin-bottom: 1rem;
}

.main_card__flexcontainer,
.week_card__flexcontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}

.main_card__flexcontainer__logo,
.week_card__flexcontainer__logo {
  margin: 0 1rem;
}

.main_card__flexcontainer__data,
.week_card__flexcontainer__data {
  margin: 0 1rem;
  text-align: start;
}

.error__main_card,
.week__main_card {
  margin: 4rem;
  background-color: #666666cc;
  border-radius: 1rem;
  padding: 1rem;
}

footer {
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  background-color: #333333cc;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row nowrap;
}

.footer_link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.footer_link:link {
  color: #f9f9f9;
  background-color: transparent;
  text-decoration: none;
}

.footer_link:visited {
  color: #cc00cc;
  background-color: transparent;
  text-decoration: none;
}

.footer_link img {
  width: 30px;
  margin-right: 0.5rem;
}

/*spinner*/

.spinner {
  width: 30px;
  height: 30px;

  position: relative;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
